.login-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Ensure the container takes at least the full height of the viewport */
    width: 100%; /* Ensure the container takes the full width of the viewport */
    overflow: hidden;
    background: url("../assets/images/Sign-up-bg.png") no-repeat center center/cover;
  }
  
  .login-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the background color and opacity */
    filter: blur(0px); /* Adjust the blur intensity as needed */
  }